# Simulation outputs
*.vcd
*.vvp
*.out
mips_sim*
!waves/README.md

# Vivado files
*.jou
*.log
*.str
*.xpr
.Xil/
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/

# Backup files
*~
*.bak

# OS files
.DS_Store
Thumbs.db

# Word docs
# *.docx
